<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>

  <link rel="stylesheet" href="/airsy/css/login/style.css">

</head>

<body>
<div class="form">

  <ul class="tab-group">
    <li class="tab active" id="index_register"><a href="#signup">注册</a></li>
    <li class="tab" id="idnex_login"><a href="#login">登陆</a></li>
  </ul>

  <!--注册div-->
  <div class="tab-content">
    <div id="signup">
      <h1>Sign Up for Free</h1>
      <form action="javascript:;" method="post">
        <div class="top-row">
          <div class="field-wrap">
            <label>
              用户名<span class="req">*</span>
            </label>
            <input id="register_username" type="text" required autocomplete="off" />
          </div>

          <div class="field-wrap">
            <label>
              密码<span class="req">*</span>
            </label>
            <input id="register_password" type="password"required autocomplete="off"/>
          </div>
        </div>

        <div class="field-wrap">
          <label>
            邮箱地址
            <span class="req">*</span>
          </label>
          <input id="register_email" type="email"required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label>
            邀请码<span class="req">*</span>
          </label>
          <input id="register_yqm" type="text"required autocomplete="off"/>
        </div>

        <button class="button button-block" onclick="register()" />注册</button>
      </form>
    </div>


    <!--登陆div-->
    <div id="login">
      <h1>Welcome Back!</h1>

      <form action="javascript:;">
        <div class="field-wrap">
          <label>用户名<span class="req">*</span></label>
          <input id="username" type="text"required autocomplete="off"/>
        </div>
        <div class="field-wrap">
          <label>密码<span class="req">*</span></label>
          <input id="password" type="password"required autocomplete="off"/>
        </div>
        <button class="button button-block" onclick="login()" />登陆</button>
      </form>
      <p class="forgot"><a href="javascript:;" onclick="forget_password()">Forgot Password?</a></p>
    </div>
  </div>
</div>
<script src='/airsy/js/login/jquery.min.js'></script>
<script src="/airsy/js/login/index.js"></script>
<script src="/airsy/js/jquery-1.4.4.min.js"></script>
<script src="/airsy/js/md5.js"></script>
<script type="text/javascript">

  function login() {
    loginAdmin();
  }

  function register() {
    var register_username = $('#register_username').val();
    var register_password = $('#register_password').val();
    var register_email = $('#register_email').val();
    var register_yqm = $('#register_yqm').val();

    if(register_username.length ==0 || register_password.length ==0|| register_email.length ==0|| register_yqm.length ==0)
      return;

    $.ajax({
      type: "post",
      url: "/airsy/user/register",
      data: "username="+register_username+"&password="+register_password+"&email="+register_email+"&yqm="+ register_yqm,
      dataType: "json",
      success: function(json){
        if(json.success){
          var form = $('<form method="get" action="/airsy/frame.html"></form>');
          form.appendTo('body').submit().remove();
        }else{
          alert(json.msg);
        }
      }
    });

  }

  function loginAdmin() {
    var username = $("#username").val();
    var password = $("#password").val();
    if(username.length ==0 || password.length ==0)
      return;

    var usermodel = {};
    usermodel["username"] = username;
    usermodel["password"] = $.md5(password);

    $.ajax({
      type: "post",
      url: "/airsy/user/login",
      data: usermodel,
      dataType: "json",
      success: function(json){
        if(json.success){
          var form = $('<form method="get" action="/airsy/frame.html"></form>');
          form.appendTo('body').submit().remove();
        }else{
          $('#index_register').attr('class','tab');
          $('#index_index').attr('class','tab active');
          alert("认证失败！！！");
        }
      }
    });
  }

  function forget_password() {

  }


</script>
</body>
</html>